
<!DOCTYPE HTML>
<html>
	<head>
		<title> InSure WebServices </title>
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<link href='//fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/responsiveslides.css">
		<script src="js/jquery.min.js"></script>
		<script src="js/responsiveslides.min.js"></script>
		<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src = "cwApp.js"> </script>
		  <script>
		    // You can also use "$(window).load(function() {"
			    $(function () {
			
			      // Slideshow 1
			      $("#slider1").responsiveSlides({
		
			        speed: 600
			      });
			});
		  </script>
	</head>
	<body>
		<!--start-wrap-->
		
			<!--start-header-->
			<div class="header">
				<div class="wrap">
				<!--start-logo-->
				<div class="logo">
					<a href="index.html"><img src="C:\Dados\SISE 2015\Computacao Web\Projecto\cw\images\logotipo.png" title="logo" /></a>
				</div>
				<!--end-logo-->
				<!--start-top-nav-->
				<div class="top-nav">
					<ul>
						<li class="active"><a href="index.html">Home</a></li>
						<li><a style="cursor: pointer;" ng-click="loggedIn=false">Log out</a></li>
					</ul>					
				</div>
				<div class="clear"> </div>
				<!--end-top-nav-->
			</div>
			<!--end-header-->
		</div>
		<div class="clear"> </div>
			<!--start-image-slider---->
					<div class="image-slider">
						<!-- Slideshow 1 -->
					    <ul class="rslides" id="slider1">
					      <li><img src="images/slider-image1.jpg" alt=""></li>
					      <li><img src="images/slider-image2.jpg" alt=""></li>
					      <li><img src="images/slider-image1.jpg" alt=""></li>
					    </ul>
						 <!-- Slideshow 2 -->
					</div>
					<!--End-image-slider---->
		    <div class="clear"> </div>
		    <div class="content-grids" >
		    	<div class="wrap">
		    	<div class="section group">
				<div class="listview_1_of_3 images_1_of_3">
					<div class="listimg listimg_1_of_2">
						  <img src="images/grid-img1.png">
					</div>
					
					<div class="text list_1_of_2">
						<div class="form-bottom" ng-app="cwApp"
          		data-ng-controller="loginCtrl"
          		ng-init="cwSwitch=false">
				<form name="form" ng-submit="login()" role="form" class="login-form">
                  <div class="form-group">
                    <label class="sr-only" for="form-username">Username</label>
                    <input type="text" class="form-control" id="InputUser" placeholder="Username" name="username" ng-model="username" required>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-password">Password</label>
                    <input type="password" class="form-control" id="InputPassword" placeholder="Password" name="password" ng-model="password" required>
                  </div>
				  <div ng-show="invalidLogin" style="color:#a94442">
					<center><b>The information provided was not valid!</b></center>
				  </div>
                  <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Log in!</button>

						  
						  <center><div class="button"><span><a href="#"><h6>Register?</h6></a></span></div>
						  <center><div class="button"><span><a href="#"><h6>Forgot Password?</h6></a></span></div>
					</div>
				</div>				
							
			</div>
		    </div>
		   </div>
		   
		   
	
		   
		   
		   
		   
		   <div class="clear"> </div>
		   <div class="footer">
		   	 <div class="wrap">
		   	<div class="footer-right">
		   		<p>&copy; 2015 InSure. All Rights Reserved </p>
		   	</div>
		   	<div class="clear"> </div>
		   </div>
		   </div>
		<!--end-wrap-->
	</body>
</html>

